---
- name: Update apt cache
  apt:
    update_cache: yes
    state: present

- name: Install Docker
  apt:
    name: docker.io
    state: present

- name: Ensure Docker service is running
  service:
    name: docker
    state: started
    enabled: yes

- name: Add user to docker group
  user:
    name: "{{ ansible_user_id}}"
    group: docker
    append: yes

- name: Verify Git
  command: git --version
  register: git_version
  changed_when: false

- debug:
   var: git_version.stdout

- name: Verify Docker
  command: docker --version
  register: docker_version
  changed_when: false

- debug:
    var: docker_version.stdout
